.Characteres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  padding-bottom: 10%;
}
* {
}
.animation:hover {
  box-shadow: 1px 1px 120px grey;
}

.fromControlMov {
  transition: 1s;
  padding: 5px 0px 20px 0px;
}

@media (max-width: 600px) {
  .fromControlMov {
    right: -18%;
  }
  .fromControlMov:hover {
    right: -15%;
  }
}
html{
  background-color: rgb(71, 73, 73);
}
/* 
.box {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aquamarine;
  margin: 2px;
}

.imgPersonajes{
    width: 10rem;
    height: 10rem;
} */
